.section {
  height: 670px;

  h2 {
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 30px;
  }

  .adminOptions {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 50px;
    // height: 570px;
    // font-size: x-large;

    .option {
      text-align: center;
      font-size: large;
      border: 0px solid black;
      background-color: aqua;
      border-radius: 0.6rem;
      padding: 1rem;
      padding-left: 2rem;
      padding-right: 2rem;
      cursor: pointer;
    }
  }
}
